.App{
    margin-top: -16px ;
    background-color: #000;
    background-image: url(./assets/bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    
}

p{
    font-size: 3rem;
}   

h3{
    color: rgb(222, 226, 252);
    font-size: 1.5em;
}
